*{
    font-family: Geist, Geist_Mono;
    text-align: center;
}
main{
    height: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
}
main img{
    width: 100%;
    filter: grayscale(0%);
    transition: 300ms;
}
main img:hover{
    filter: grayscale(100%);
}